# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/
**/Debug/
**/Release/

# OpenCV files
#dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_calib3d455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_core455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_core455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_dnn455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_dnn455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_features2d455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_features2d455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_flann455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_flann455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_gapi455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_gapi455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_highgui455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_highgui455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_imgcodecs455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_imgcodecs455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_imgproc455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_imgproc455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_ml455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_ml455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_objdetect455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_objdetect455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_photo455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_photo455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_stitching455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_stitching455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_video455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_video455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_videoio455.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_videoio455d.dll
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_videoio_ffmpeg455_64.dll
#exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_annotation.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_annotationd.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_interactive-calibration.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_interactive-calibrationd.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_model_diagnostics.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_model_diagnosticsd.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_version.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_versiond.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_version_win32.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_version_win32d.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_visualisation.exe
!/carapinaDetector/libs/opencv/x64/vc16/bin/opencv_visualisationd.exe
#lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_calib3d455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_calib3d455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_core455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_core455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_dnn455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_dnn455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_features2d455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_features2d455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_flann455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_flann455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_gapi455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_gapi455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_highgui455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_highgui455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_imgcodecs455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_imgcodecs455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_imgproc455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_imgproc455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_ml455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_ml455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_objdetect455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_objdetect455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_photo455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_photo455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_stitching455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_stitching455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_video455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_video455d.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_videoio455.lib
!/carapinaDetector/libs/opencv/x64/vc16/lib/opencv_videoio455d.lib

# SFML files
#dll
!/carapinaDetector/libs/SFML-2.5.1/bin/openal32.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-audio-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-audio-d-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-graphics-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-graphics-d-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-network-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-network-d-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-system-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-system-d-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-window-2.dll
!/carapinaDetector/libs/SFML-2.5.1/bin/sfml-window-d-2.dll
#lib
!/carapinaDetector/libs/SFML-2.5.1/lib/flac.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/freetype.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/ogg.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/openal32.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-audio-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-audio-s-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-audio-s.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-audio.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-graphics-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-graphics-s-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-graphics-s.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-graphics.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-main-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-main.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-network-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-network-s-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-network-s.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-network.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-system-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-system-s-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-system-s.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-system.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-window-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-window-s-d.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-window-s.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/sfml-window.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/vorbis.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/vorbisenc.lib
!/carapinaDetector/libs/SFML-2.5.1/lib/vorbisfile.lib